
<article>
    <div class="row">
        <div class="col3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj5x46l_ageaEL6efxVamOsxrSpa82GfVK-Q&s"class="img-fluid" alt="">
        </div>
    
    
        <div class="col7">
            <h3> {{article.title}} </h3>
            <p> <b> {{article.categorie}} </b> | <b> {{article.categorie[2]}} </b></p>
            
            
            <p> {{article.content}} </p>

            <p>
                <i>
                    Publier par <br> {{article.auteur}} le {{article.created_at}}
                </i>
            </p>
            <div class="row">
                <div class="col">
                    <p  class="gray" > {{article.nb_comment}} Commentaire</p>
                </div>
                <div class="col">
                    <p>
                        <a [routerLink]="['about']" class="btn"> Voir plus</a>
                    </p>
                </div>
        </div>
        </div>



    </div>


</article>